body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 50px 0;
    font-family: 'Noto Sans', sans-serif;
    box-sizing: border-box;
}

p {
    margin: 0;
}

.phone-screen {
    width: 360px;
    height: 780px;
    border: 1px solid black;
    border-radius: 15px;
    background: rgb(24, 22, 22);
}

/* Top bar */


.top-bar {
    padding: 8px;
    height: 23px;
    color: white;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0;
}

.top-bar ul {
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 8px;
    list-style: none;
    color: white;
    padding: 0;
    margin: 0;
}

.top-bar ul img {
    width: 18px;
}

/* Header */

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-container {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    gap: 12px;
}

.header-container .avatar img {
    width: 28px;
    height: auto;
}

.header-container .free-coin img {
    width: 33px;
    height: auto;
}

.header-container .searchbar {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.header-container .searchbar input {

    background: rgb(54, 54, 54);
    border: none;
    border-radius: 3px;
    height: 30px;
    padding-left: 10px;
    width: 100%;
}

/* Home Popular Bar */

.home-popular-bar {
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.home-popular-bar .home {
    text-align: center;
    color: white;
    font-size: 16px;
    font-weight: 700;
    height: auto;
    width: 80px;
    border-bottom: solid 2px rgb(2, 73, 165);
    padding-bottom: 10px;
}

.home-popular-bar .popular {
    text-align: center;
    color: rgb(105, 105, 105);
    font-size: 16px;
    font-weight: 700;
    height: auto;
    width: 80px;
    padding-bottom: 10px;
    border-bottom: solid 2px rgb(24, 22, 22);
}

/* Content */

.content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 594px;
    overflow: scroll;
}

.content::-webkit-scrollbar {
    display: none;
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background: rgb(27, 27, 27);
    height: auto;
    width: 100%;
    padding: 12px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-subreddit-info {
    display: flex;
    align-items: center;
    gap: 8px;
}

.subreddit-logo {
    height: 33px;
}

.card-header .subreddit-name {
    color: white;
    font-size: 14px;
}

.card-header .username {
    color: rgb(105, 105, 105);
    font-size: 12px;
}

.card-header img {
    height: auto;
    width: 33px;
}

.card-header .dotmenu {
    color: rgb(105, 105, 105);
    font-size: 12px;
}

/* Awards bar */

.awards {
    height: auto;
    display: flex;
    color: rgb(105, 105, 105);
    font-size: 12px;
    gap: 5px;
    align-items: center;
}

.awards img {
    height: auto;
    width: 15px;
}

.awards .awards-images {
    display: flex;
    gap: 5px;
    align-items: center;
}

.main-content {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.img-content {
    height: 60px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.img-content img {
    width: 90px;
    height: auto;
    border-radius: 5px;
    grid-column-start: 1;
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 4;
}

.link-overlay {
    background: rgb(27, 27, 27);
    color: #e5e3e3;
    grid-column-start: 1;
    grid-column-start: 2;
    grid-row-start: 4;
    grid-row-end: 5;
    font-size: 10px;
    padding-left: 3px;
}

.text-content {
    color: #e5e3e3;
    font-weight: 600;
}

.text-content p {
    padding: 0;
    margin: 0;
}

/* Card UI Bar*/

.card-ui-bar {
    color: rgb(105, 105, 105);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 18px;
}

.card-ui-bar p {
    font-size: 14px;
    font-weight: bold;
}

.voting-ui-cluster, .comment-ui-cluster, .share-ui-cluster, .award-ui {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    flex: 2;
}

.share-ui-cluster {
    justify-content: flex-end;
}

.upvote-button {
    flex: 1;
}

.vote-count {
    flex: 2;
    display: flex;
    justify-content: center;
}

.downvote-button {
    flex: 1;
}

.comment-button {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.comment-count {
    display: flex;
    justify-content: center;
    flex: 1;
}


.award-ui {
    display: flex;
    justify-content: flex-end;
    flex: 1;
}

/* Footer */

footer {
    border-top: 1px solid rgb(54, 54, 54);
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}

.footer-container {
    color: rgb(105, 105, 105);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.footer-ui-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 8px 20px;
    font-size: 25px;
}

.home-icon, .subscription-icon, .plus-icon, .notification-icon {
    width: 34px;
    height: 34px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    text-align: center;
}

.footer-container div i {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    margin: 4px;
}

.red-bubble {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.red-bubble p {
    color: white;
    margin: 0;
    font-size: 12px;
    font-weight: bold;
    background: red;
    border-radius: 50%;
    height: 17px;
}

.home-icon {
    color: white;
}

